node_modules
dist
.DS_Store
*.log
.env
.env.local
.env.*.local
api/data/*.json
api/data/*.db
api/uploads/*
!api/uploads/.gitkeep
web/dist
web/.vite
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
